@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

@keyframes blink {
  0%  {opacity: 1;}
  40% {opacity: 1;}
  50% {opacity: 0;}
  90% {opacity: 0;}
}

.cursor {
  color: white;
  opacity: 1;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.about-bg-shape {
  -webkit-clip-path: polygon(0 4%, 100% 0, 100% 100%, 0% 96%);
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0% 96%);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.min-h-75-screen {
  min-height: 75vh
}